@font-face {
font-family: 'GreycliffCF';
src: url('font/greycliff/GreycliffCF-Medium.ttf') format('truetype');
}


html {
scroll-behavior: smooth;
overflow: scroll;
overflow-x: hidden;
}
::-webkit-scrollbar {
width: 0;  /* Remove scrollbar space */
background: transparent;  /* Optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
background: #FF0000;
}

 /* Add a black background color to the top navigation */
 .topnav {
    border-radius: 10px;
    position: fixed;
    overflow: hidden;
    background: rgba(0, 0, 0, .60);
    z-index:3;
    right: 5%;
    left: 5%;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    padding: 2rem;
  }
  
  .topnav a:hover {

    padding: 2rem;
    border-bottom: .2rem solid transparent;
    transition: border .2s ease;
    border-color: #460054;
  }
  
  .topnav a.active {
    color: #F2F4F7;
    padding: 2rem;
    border-bottom: .2rem solid transparent;
    transition: border .2s ease;
    border-color: #460054;
  }
  
  .topnav .icon {
    display: none;
    width: 10px;
  }

  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      position: relative;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      
      right: 0;
      width: 0px;
      top: 5%;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      width: 1000px;
      text-align: left;
    }
  }

  @keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }


  .topnav.responsive.a {
    animation: slide-in 100ms;
  }



#slogan {
position: absolute;
top: 30%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 60px;
font-weight: 800;
text-align: center;
background: linear-gradient(35deg, #d33878, #4655dc);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
background-clip: text;
}

body {
background-color: #000;
background-image: linear-gradient(135deg, #020010, #100010, #020010);
background-size: 200% 50%;
animation: bganim 10s infinite linear;
color: #BBBBBB;
font-family: 'GreycliffCF', sans-serif;
text-align: center;
overflow-y: hidden;
height: 100vh; /* Fallback for browsers that do not support Custom Properties */
height: calc(var(--vh, 1vh) * 100);
  }
#logo {
position: absolute;
right: 1px;
width: 70px;
height: auto;
top: 0.5px;
transition: transform .2s;
}

#logo:hover {
opacity: 60%;
transform: scale(1.1);
}


.main-content {
position: absolute;
top: 70%;
left: 50%;
transform: translate(-50%,0);
width: 80%;
background: rgba(0, 0, 0, .60);
border-radius: 10px;
padding: 40px;
}

#about {
font-size: 18px;
line-height: 1.5;
padding: 20px;
margin-bottom: 40px;
}
#services {
font-size: 18px;
font-weight: 600;
line-height: 1.5;
padding: 20px;
margin-bottom: 40px;
}
a {
color: #ad4fc9;
font-weight: 600;
}
.team {
display: flex;
justify-content: center;
margin-top: 50px;
margin-bottom: 150px;
flex-wrap: wrap;
}
.team .member {
width: 300px;
margin: 20px;
text-align: center;
font-size: 18px;
font-weight: 600;
padding: 20px;
border-radius: 10px;
animation: fadeIn 2s ease;
transition: all 0.3s ease;
}
.member img {
width: 150px;
height: 150px;
border-radius: 50%;
margin-bottom: 20px;
}
.member p {
margin-bottom: 10px;
font-size: 14px;
font-weight: 500;
}
.member .pref-lang {
font-size: 12px;
font-style: italic;
margin-bottom: 10px;
}
.member .bio {
font-size: 12px;
font-style: italic;
margin-bottom: 10px;
}
.member:hover {
transform: scale(1.2); 
}

.member p.names {
color: #EEEEEE;
font-weight: bold;
font-size: 20px;
}

.round-corners{
border-radius: 25px;
}


@keyframes bganim {
0%{ background-position: 0 0; }
100%{ background-position: 200% 100%; }
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}
@keyframes slidein {
from { opacity: 0; }
to   { opacity: 1; }
}


.loader-container {
      display: flex;
      justify-content: center;
      align-items: center;
      background: black;
      width: 100vw;
      height: 100vh;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      font-family: monospace;
      position: fixed;
      z-index: 10;
  }

  .loader-container video {
      margin: 0 auto;
      width: 92vh;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  @media all and (max-width: 600px)
  {
      .loader-container video {
      margin: 0 auto;
      width: 60vh;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  } 
  }
